body {
    font-family: 'Open Sans', sans-serif;
}

.logo {
    max-width: 30%;
}

.qr {
    width: fit-content;

    float: right;

    border: 2px solid #616161;
    padding: 20px;

    position: relative;
}

.qr h2 {
    margin-top: 20px;
}

.qr p {
    margin: 0;
}

.qr > img {
    height: 100px;
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

h2 {
    font-size: 22px;
    margin: 5px 0;
}

h4 {
    margin-top: 30px;
}

table {
    width: 100%;
    table-layout: fixed;
}

tr {
    height: 35px;
}

tr > td:nth-child(2n - 1) {
    text-align: right;
    font-size: 13px;
    padding-right: 10px;
}

tr > td:nth-child(2n) {
    border: 1px black solid;
    padding: 0 5px;
    font-size: 10px;
}

.data {
    margin-bottom: 30px;
}

.important {
    color: #B81A1F;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

.left {
    max-width: 40%;
    float: left;
}

.right {
    max-width: 40%;
    float: right;
}

.spacer {
    height: 30px;
    width: 100%;
}

.spacer-large {
    height: 100px;
}

.probe {
    float: left;
    border: 2px #616161 solid;
    padding: 20px;
    margin-right: 20px;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("/assets/OpenSans-Regular.ttf");
}
