body { font-family: 'Open Sans', sans-serif; }

.logo { max-width: 30%; }

.qr {
    border: 2px solid #616161;

    float: right;

    padding: 20px;
    position: relative;

    width: fit-content;
}

.qr h2 { margin-top: 120px; }

.qr p { margin: 0; }

.qr > img {
    height: 100px;
    left: 50%;
    position: absolute;
    top: 20px;
    transform: translate(-50%, 0);
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

h2 {
    font-size: 22px;
    margin: 5px 0;
}

h4 { margin-top: 80px; }

table {
    table-layout: fixed;
    width: 100%;
}

tr { height: 35px; }

tr > td:nth-child(2n - 1) {
    font-size: 13px;
    padding-right: 10px;
    text-align: right;
}

tr > td:nth-child(2n) { border: 1px black solid; }

.data { margin-bottom: 20px; }



@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("/assets/OpenSans-Regular.ttf");
}